<h1>Log-in</h1>
<mat-tab-group>
    <mat-tab label="Log-in">Log-in</mat-tab>
    <mat-tab label="Register">Register</mat-tab>
</mat-tab-group>
  
<form [formGroup]="userForm">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
</form>

<button mat-stroked-button (click)="submit()">Submit</button>
<div>{{ message }}</div>
  