<ng-template [ngIf]="!isLoggedIn()" [ngIfElse]="loggedIn">
    <mat-tab-group (selectedTabChange)="handleTabChange($event)" selectedIndex="0">
        <mat-tab *ngFor="let tab of tabs" disabled="{{ busy }}" label="{{ tab }}">{{ tab }}</mat-tab>
    </mat-tab-group>
      
    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input readonly="{{ busy }}" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input readonly="{{ busy }}" matInput type="password" formControlName="password">
        </mat-form-field>
    </form>
    
    <button disabled="{{ busy || !isSubmittable() }}" mat-stroked-button (click)="submit()">{{ currentTab }}</button>
</ng-template>

<ng-template #loggedIn>
    <h1>Greetings, {{ getUsername() }}!</h1>
    <button mat-stroked-button color="warn" disabled="{{ busy }}" (click)="logout()">Log Out</button>
    <button mat-stroked-button color="warn" disabled="{{ busy }}" (click)="delete()">Delete User</button>
</ng-template>

<div>{{ message }}</div>