<ng-template [ngIf]="!isLoggedIn()" [ngIfElse]="loggedIn">
    <mat-tab-group backgroundColor="primary" (selectedTabChange)="handleTabChange($event)" selectedIndex="0">
        <mat-tab *ngFor="let tab of tabs" label="{{ tab }}"></mat-tab>
    </mat-tab-group>
        
    <form [formGroup]="userForm">
        <mat-grid-list cols="2" rowHeight="6vh">
            <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="grid-item">
                    <input class="grid-item" matInput formControlName="username" placeholder="Username">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="grid-item">
                    <input class="grid-item" matInput type="password" formControlName="password" placeholder="Password">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button class="grid-item" disabled="{{ !isSubmittable() }}" mat-flat-button color="primary" (click)="submit()">{{ currentTab }}</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div>{{ message }}</div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</ng-template>

<ng-template #loggedIn>
    <mat-grid-list cols="2" rowHeight="5vh" gutterSize="2vh">
        <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div>
                <mat-icon class="icon-display">account_circle</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <h1 class="grid-item center-text">{{ getUsername() }}</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="grid-item" mat-stroked-button color="warn" (click)="logout()">Log Out</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="grid-item" mat-flat-button color="warn" (click)="delete()">Delete User</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div>{{ message }}</div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>