.toolbar-spacer {
    flex: 1 1 auto;
}

.center-contaner {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.center-container-item {
    margin-top: 2%;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.error-text {
    color: red;
}